* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

h1, p {
    text-align: center;
    margin-top: 10px;
}

#container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .suda {
        animation: 1s ease infinite alternate;
        margin: 5px;

        $alltime:1000ms;
        $alltime2:1000ms;

        @for $i from 1 through 10 {
            &:nth-child(10n - #{$i}) {
                animation-delay: ($alltime / 10) * $i;

                svg path {
                    animation-delay: ($alltime2 / 10) * $i;
                }
            }
        }

        @for $i from 4 through 1 {
            &:nth-child(4n - #{$i}) {
                animation-duration: $alltime + ($alltime / 4) * $i;
            }
        }

        @for $i from 3 through 1 {
            &:nth-child(3n - #{$i}) {
                animation-name: bubble#{$i};
            }
        }

        svg {
            width: 80px;
            height: 80px;

            path {
                fill:hsl(0, 100, 30);
                animation: rainbow ease 10s infinite;
            }
        }
    }
}

@keyframes slide {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.89);
    }
}

@keyframes bubble1 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes bubble2 {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(0.9);
    }
    75% {
        transform: scale(1.04);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes bubble3 {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(0.7);
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(0.89);
    }
}

@keyframes rainbow {
    // キーフレームの長さ-1
    $keyFrameLength: 4;

    @for $i from 0 through $keyFrameLength {
        #{(100 / $keyFrameLength) * $i + "%"} {
            $h: (360 / $keyFrameLength) * $i;
            $color: hsl($h, 100, 30);
            fill: $color;
        }
    }
}
